/* body{
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
} */
#popup-div{
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 15;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    display: none;
}
.server-status{
	top: 50%;
	left: 50%;
	position: absolute;
	display: flex;
	flex-direction: column;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
    padding: 70px 30px;
    align-items: center;

}

.gif{
	height: 50px;
	width: 50px;
}