body{
	margin:0;
	padding: 0;
	font-family: 'Open Sans', sans-serif; 
	font-size: 20px;
	background-repeat: no-repeat;
	background-size: cover;
}


.login-page:after{
position: absolute;
left: 0px;
top: 0px;
height: 100%;
width: 100%;
z-index: 1;
}
.login-page .box{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	display: flex;
	flex-direction: column;
	width: 30%;
	height: 420px;
    padding: 70px 30px;
	z-index: 2;
	background-color: #ffffff;
	
	box-sizing: border-box;
}

.login-page .box .form-head h1{
text-align: center;
margin:10px 0px 25px;
color: #D83B01;
}
.login-page .box .form-body{
display: flex;
flex-direction: column;
}
.login-page .box .form-body input{
height: 42px;
margin-bottom: 20px;
width: 100%;
background-color: transparent;
color: #000000;
outline: none;
border: none;
border-bottom: 1px solid #D83B01;
font-size: 18px;
padding: 0px;
margin-top: 13px;

}
.login-page .box .form-body input::placeholder{
	color: #000000;;
	}
	.login-page .box .form-footer {
		text-align: center;

	}
.login-page .box .form-footer button{
	/* font-size: 18px;
	height: 40px;
	border-radius: 18px;
	padding: 0px 70px;
	color:#ffffff;
	background-color:  #D83B01;
	margin-top: 23px;
	border:none;
	 */
	color: #ffffff;
	background-color: #d83b01;
	border: 2px solid #d83b01;
	height: 55px;
	width: 190px;
	font-weight: 500;
	transition: 0.5s;
	cursor: pointer;
	border-radius: 50px;
}
.login-page .box .form-footer button:hover{
	/* cursor: pointer;
	 background: #00FFFF;  */
	color: #d83b01;
	background-color: white;
	border: 2px solid #d83b01;

}

@media only screen and (max-width: 768px) {
	.login-page .box{
		height: 100vh;
		width: 100vw;

	}
	.login-page .box .form-head h2{
		font-size: 10vw;
	} 
	.login-page .box .form-body input{
		margin-top: 16%;
		font-size: 6vw;
	}
	.login-page .box .form-footer button{
		margin-top: 45%; ;
	}
	
}




