﻿<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title_block %}Website{% endblock title_block %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block style_block %}
    {% endblock style_block %}
</head>

<body>
{% include 'messages.html' %}

{% if user.is_authenticated %}
    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="container topContainer">
            <a class="navbar-brand" href="/">BIM Analyzer</a>
            <button onclick="window.location.href = '/logout';" class="logout" text="right">Logout</button>
        </div>
    </nav>
    <!-- <button class="button-blue-style" onclick="window.location.href = '/logout';">Log out</button> -->
{% endif %}
{% block body_block %}


    <p>Your csrf now: {{ csrf_token }}</p>
    <button>Your id: {{ id }}</button>
{% endblock body_block %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% block script_block %}

{% endblock script_block %}
</body>

</html>