{% extends 'base.html' %}
{% load static %}

{% block title_block %}Login{% endblock title_block %}
{% block style_block %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock style_block %}
{% block body_block %}

    <div id="popup-div">
        <div class="server-status">
            <div class="loder-gif"></div>
            <img src="{% static 'images/load.gif' %}" alt="Load" class="gif">
            <p id='server-logs'>Loading</p>
        </div>
    </div>
    <div class="main text-center container">
        <h1 class="text-center">Choose BIM file</h1>
        <h5 class="text-center"></h5>
        <form id="frm-ifc-file" action="" method="POST" enctype="multipart/form-data">
            <div class="custom-file">
                {% csrf_token %}
                <input type="file" class="custom-file-input" name="ifc" id="input-ifc-upload" accept=".ifc"/>
                <label class="custom-file-label text-left" tabindex="0" for="input-ifc-upload">No file selected</label>
            </div>
            <input type="submit" class="upload mt-4" value="Upload"/>
        </form>
    </div>
    {% if request.session.file_data %}
        <br/>
        <h5 class="text-center">File: {{ request.session.file_data.name }}</h5>
        <h6 class="text-center">{{ location }}</h6>
        <div class="container">
            <div class="row">
                <div class="col-12" style="overflow-x: hidden">
                    <h3 class="text-center">GovMap Location</h3>
                    <iframe id='ifcMap' frameborder='0' scrolling='no' marginheight='0' marginwidth='0'
                            width='100%' height='350px'
                            src='https://www.govmap.gov.il/map.html?bb=1&zb=1&in=1&c={{ location.0 }},{{ location.1 }}&z=10&lay=SUB_GUSH_ALL,PARCEL_ALL'>
                    </iframe>
                </div>
            </div>
        </div>
        <div class="table-responsive mt-5 px-md-5 px-1">
            <table class="table table-striped mb-5">
                <h3 class="text-center">{{ table_model_floors.heading }}</h3>
                <thead>
                <tr>
                    {% for header in table_model_floors.headers %}
                        <th>{{ header }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for row in table_model_floors.rows %}
                    <tr>
                        {% for item in row %}
                            <td>{{ item|safe }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="container">
            <div class="row">
                {% if graph.rows.0 %}
                    <div class="col-12">
                        <div id="{{ graph.legend }}" style="height: 350px; width: 100%;"></div>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="table-responsive mt-5 px-md-5 px-1">
            <table class="table table-striped mb-5">
                <h3 class="text-center">{{ table_model_areas.heading }}</h3>
                <thead>
                <tr>
                    {% for header in table_model_areas.headers %}
                        <th>{{ header }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for row in table_model_areas.rows %}
                    <tr>
                        {% for item in row %}
                            <td>{{ item|safe }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


        {% if obj and mtl %}
            <div class="container">
                <div class="row">
                    <div class="col-12" style="overflow-x: hidden">
                        <h3 class="text-center">3D Model</h3>

                    </div>
                </div>
            </div>
            <div class="container" style="border: 2px solid black;">
                <div class="row">
                    <div class="col" id="canvas-container" style="padding: 0;">
                        <canvas id="viewer-canvas" class="3dviewer" sourcefiles="{{ obj }}|{{ mtl }}"></canvas>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}

{% endblock body_block %}
{% block script_block %}
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script>

        $(document).ready(function () {
            {% if request.session.file_data %}

                var chart = new CanvasJS.Chart("{{graph.legend}}", {
                    animationEnabled: true,
                    title: {
                        text: "{{graph.legend}}"
                    },
                    data: [{
                        type: "pie",
                        startAngle: 240,
                        yValueFormatString: "##0.00 \"sq. m\"",
                        indexLabel: "{label} {y}",

                        dataPoints: [
                            {% for row in graph.rows %}
                                {y: {{ row.0 }}, label: "{{ row.1 }}"},
                            {% endfor %}
                        ]

                    }]
                });
                chart.render();
            {% endif %}

        });
        $(".custom-file-input").on("change", function (e) {
            var fileName = e.target.files[0].name;
            $(this)
                .siblings(".custom-file-label")
                .addClass("selected")
                .html(fileName);
        });
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
        let interval_logs;

        //$('form :input').attr('value', '');
        function process_logs(mili_secs, caller) {
            interval_logs = setInterval(function () {
                $.get("/ajax/get-logs/", function (data) {
                    $("#server-logs").html(data);
                    console.log(data);
                    if (data.includes("{{LOGS.NOTHING}}") || data.includes("{{LOGS.FINISHED}}") || data.includes("{{LOGS.ERROR}}")) {
                        clearInterval(interval_logs);
                        console.log(`Interval created by ${caller} is cleared.`)
                    }
                }).fail(function (xhr, ajaxOptions, thrownError) {
                    clearInterval(interval_logs);
                    $("#server-logs").html("Unexpected Error: " + thrownError);
                });
            }, mili_secs);
        }

        $("#frm-ifc-file").submit(function (event) {
            $("#server-logs").html("Uploading...");
            $("#popup-div").css({"display": "block"});
        });
    </script>
    {% if obj and mtl %}
        <script type="text/javascript" src="{% static 'js/jsmodeler/three.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jsmodeler/jsmodeler.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jsmodeler/jsmodeler.ext.three.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jsmodeler/jsembedder.js' %}"></script>
        <script type="text/javascript">
            function OnResize() {
                let myCanvas = document.getElementById("viewer-canvas");
                let container = document.getElementById("canvas-container");
                myCanvas.width = container.clientWidth;
                myCanvas.height = document.documentElement.clientHeight;
            }

            function OnLoad() {
                OnResize();
                LoadOnline3DModels();
            }

            window.addEventListener('load', OnLoad, true);
            window.addEventListener("resize", OnResize, true);
        </script>
    {% endif %}
{% endblock script_block %}