{% extends 'base.html' %}
{% load static %}

{% block title_block %}Login{% endblock title_block %}
{% block style_block %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
<style>
    body {
        background: url("{% static 'images/back.jpg' %}") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>
{% endblock style_block %}
{% block body_block %}
<div class="login-page">

    <form action="login/" method="POST">
        <div class="box">
            <div class="form-head">
                <h1>Login Here</h1>
            </div>
            <div class="form-body">
                {% csrf_token %}
                <input name="username" type="text" placeholder="Enter your name" required>
                <input name="password" type="Password" placeholder="Enter your Password" required>
            </div>
            <div class="form-footer">
                <button type="submit">Sign In</button>
            </div>
        </div>
    </form>
</div>

{% endblock body_block  %}
{% block script_block %}

{% endblock script_block  %}